* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 530px;
}

.title {
    font-weight: 600;
    padding: 15px;
}

.content {
    padding: 15px;
}

button {
    width: auto;
    height: auto;
    padding: 10px;
    background-color: #0370fd;
    color: white;
    border: none;
    border-radius: 4px;
    margin: 15px;
}

.button {
    text-align: right;
}